rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Permitir que usuários autenticados façam upload para a pasta suporte/
    match /suporte/{userId}/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Permitir uploads gerais para usuários autenticados
    match /{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
  }
}
